<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load staticfiles %}


    {% block body_block%}

    <h1>Hello and welcome to the site!</h1>
    <h1>This is the GetUp.html page</h1>
    <object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/v1gTI4BOPUw?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/v1gTI4BOPUw?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>

    {% load staticfiles %}
    <img src="{% static "images/GetUp1.jpg" %}" alt="oops!">
    <img src="{% static "images/getup2.jpg" %}" alt="oops!">
    {% endblock %}
